body {
  width: 550px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: -apple-system, BlinkMacSystemFont, 'Nunito', 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 16px;
}
